#sec1{
    background-color: beige;
}
form{
    width: 100%;

}

.fdiv{
    width: 45%;
    height: 50%;
    margin: 5px;
}
.fdiv > div{
    padding: 10px;
    margin: 10px;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    
}
select{
    width: 100%;
    height: 40px;
}
input[type=number]{
    width:80%;
    height:40px;
}
#unit1,#unit2{
    width: 20%;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
}
#txt2{
    background-color: antiquewhite;
}