form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  
  .fdiv {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
  }
  
  table {
    width: 100%;
  }
  
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  
  th {
    background-color: gray;
    color: white;
  }
  
  tr:nth-child(even) {
    background-color: gainsboro;
  }
  
  input {
    display: inline-flex;
    height: 40px;
    width: 200px;
    font-size: large;
    font-weight: bold;
  }

  th,tr{
    height: 30px;
  }

  td{
    padding: 3px;
  }

  .sp1{
    text-align: center;
  }
  .sp2{
    text-align: left;
  }
  .sp3{
    text-align: right;
  }

  fieldset{
    height: 40px;
    width : 30%;
    display: inline-flex;
    justify-content: center;
  }
  fieldset>input{
    height:auto;
    width: auto;
    margin: 5px;
  }
  label{
    margin-right: 5px;
  }
  #d0{
    width: 45%;
  }
  #d1{
    width: 15%;
    display: flex;
    justify-content: left;
    align-items: center;
  }
  button{
    margin-top: 15px;
    height: 30px;
    width: auto;
  }
